/* css reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Colors */
:root {
    --lightblue: #4e68fd;
    --darkblue: #0e067a;
    --gray: #d3c8c8;
    --lightred: #f17474;
    --darkred: #e10000;
}

/* debugger */
[debug],
[debug] *:not(g):not(path) {
    color: yellow !important;
    background: navy !important;
    outline: dotted 0.25rem tomato !important;
    box-shadow: none !important;
    filter: none !important;
}
/* CDN: */

body {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
}
.title {
    font-size: 8.4vw;
    font-weight: 800;
}
.subtitle {
    font-size: 32pt;
}

hr {
    border: 0;
    height: 1px;
    background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.3), transparent);
    background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.3), transparent);
    margin: 28px 0 28px 0;
}

/* containers  */

.container-sm {
    padding-left: 2em;
    padding-right: 2em;
    max-width: 768px;
}
.container-md {
    padding-left: 4em;
    padding-right: 4em;
    max-width: 1024px;
}
.container-center {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}
.container {
    padding-left: 8%;
    padding-right: 8%;
}

a {
    text-decoration: none;
    color: var(--lightblue);
}
a:hover {
    text-decoration: underline;
    color: var(--darkblue);
}

/* layouts, flexbox, grids, centering */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container > div {
    background-color: var(--gray);
    width: 220px;
    padding: 1em;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 2px 5px 10px #888888;
}
@media only screen and (max-width: 562px) {
    .flex-container > div {
        width: 115%;
    }
}

/* Center Horizontally & Vertically */
.super-center-parent {
    display: grid;
    place-items: center;
    background: var(--lightblue);
    overflow: auto;
    padding: 5em;
}
.super-center-child {
    text-align: center;
    padding: 3px;
}

.bg-color {
    background-color: #d0d2e7;
}

code {
    font-family: Consolas, 'courier new';
    color: var(--darkblue);
    background-color: var(--gray);
    padding: 2px;
    font-size: 105%;
}

/* buttons */
button {
    font-size: 16pt;
    padding: 9px 16px;
    box-shadow: 2px 6px 11px #888888;
}
button:hover {
    cursor: pointer;
}
.btn-primary {
    background-color: var(--darkblue);
    color: white;
}
.btn-primary:hover {
    background-color: #2419b4;
    color: white;
}
.btn-secondary {
    background-color: var(--lightblue);
    color: black;
}
.btn-secondary:hover {
    background-color: #5f77ff;
    color: black;
}
.btn-red {
    background-color: var(--darkred);
    color: white;
}
.btn-red:hover {
    background-color: red;
    color: white;
}

/* tables */
table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

li {
    transform: translateX(20px);
}
